<table class="table table-striped table-hover">
    <thead align="middle">
    <tr class="info">
        <th class="text-center">id</th>
        <th class="text-center">名字</th>
        <th class="text-center">身份</th>
        <th class="text-center">职称</th>
        <th class="text-center">删改</th>
    </tr>

    </thead>
    <tbody>

    <% if(pageObj.data && pageObj.data.length > 0) { %>
    <% pageObj.data.forEach(function (item) { %>
    <tr>
        <td><a href="/personalInfo?id=<%=item.id%>"><%= item.id %></a></td>
        <td><%= item.name %></td>
        <% if(item.type == 'admin'){ %>
        <td>管理员</td>
        <% }else if(item.type == 'teacher'){ %>
        <td>教师</td>
        <% }else{ %>
        <td>学生</td>
        <% } %>
        <td><%= item.rank %></td>
        <td>
            <input type="hidden" class="hidden-id" value="<%= item.id %>">
            <button class="btn" data-toggle="modal" data-target="#modal-user" onclick="openModal(this)">修改</button>
            <button class="btn" onclick="delUser(this)">删除</button>
        </td>
    </tr>
    <% }) %>
    <% } %>
    </tbody>
</table>
<% include ../common/paginationAjax.html %>