<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>错误页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="/lib/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
    <!--left navbar-->
    <div class="navbar left-navbar">
        <a href="/index"><span>教师成果</span></a>
        <a href="/indexTeaArt"><span>教师文章</span></a>
        <a href="/indexStuArt"><span>学生心得</span></a>
    </div>

    <!--error body-->
    <div class="error-body">
        <h1>抱歉！页面无法访问……</h1>
        <p>可能因为：</p>
        <p>网址有错误>请检查地址是否完整或存在多余字符</p>
        <p>网址已失效>可能页面已删除等</p>
        <a href="/index">返回首页</a>
    </div>

</body>
</html>