<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="/lib/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <!--left navbar-->
    <div class="navbar left-navbar">
        <a href="/index"><span>教师成果</span></a>
        <a href="/indexTeaArt"><span>教师文章</span></a>
        <a href="/indexStuArt"><span>学生心得</span></a>
    </div>

    <!--login body-->
    <div class="login-container">
        <h1>东华大学</h1>
        <h2>教师教学成果信息管理系统</h2>

        <h4>
            <span>
                <span id="login-btn">登录</span>
                <b>·</b>
                <a href="/register">注册</a>
            </span>
        </h4>

        <form id="login-form" action="/login" method="post">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input class="form-control" type="text" name="id" placeholder="用户名" required/>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input class="form-control" type="password" name="password" placeholder="密码"/>
            </div>

            <input class="btn" role="button" type="submit" value="登陆">

            <% if(typeof errInfo !== 'undefined'){ %>
            <div class="loginError">
                <span id="loginMessage">帐号或密码错误</span>
            </div>
            <% } %>

        </form>
    </div>
</body>

<script src="/lib/jQuery/jquery.min.js"></script>

<script src="/lib/bootstrap/bootstrap.min.js"></script>

</html>