<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/updateUser" method="post">
        <!--<label>用户名：</label>-->
        <!--<input type="text" name="id"/><br />-->
        <label>密码&nbsp;：</label>
        <input type="password" name="password" /><br/>

        <label>名字&nbsp;：</label>
        <input type="text" name="name" /><br/>

        <label>性别&nbsp;：</label>
        <input type="text" name="sex" /><br/>

        <label>学院&nbsp;：</label>
        <input type="text" name="academic" /><br/>

        <label>职称&nbsp;：</label>
        <input type="text" name="rank" /><br/>

        <label>联系方式&nbsp;：</label>
        <input type="text" name="contact" /><br/>

        <label>备注&nbsp;：</label>
        <input type="text" name="remark" /><br/>

        <label>简介&nbsp;：</label>
        <input type="text" name="brief" /><br/>

        <input  type="submit" value="添加用户">
    </form>
</body>
</html>