/*body*/
.face-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.face-container>.carousel>.carousel-inner>div>img{
    width: 100%;
    height: 100%;
}

.face-container>.overlay{
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(51, 51, 51,0.7);
    zoom: 1;
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
}

.face-container>.face-body{
    position: absolute;
    top:15%;
    width: 100%;
    text-align: center;
    z-index: 11;
    display: none;
}
.face-container>.face-body>h1{
    color: #fff;
    font-size: 50px;
}
.face-container>.face-body>div{
    border: 2px solid #fff;
    width: 250px;
    margin: 10% auto;
    border-radius: 10px;
    padding: 10px;
}
.face-container>.face-body>div>a{
    display: block;
    color: #000;
    background-color: #fff;
    width: 200px;
    font-size: 24px;
    margin: 30px auto;
}